@import "tailwindcss";
@import "fumadocs-ui/css/lib/default-colors.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";
@import "./styles/geist.css";

@layer base {
  body {
    @apply bg-background-200 text-gray-1000;
  }
}

[data-search-full] {
  border-radius: var(--radius-md);
  height: 2rem;
}

:root {
  --site-width: 1400px;
}

#nd-home-layout {
  --fd-layout-width: var(--site-width);
}

#nd-notebook-layout {
  --fd-layout-width: 100%;
  padding-inline: max(0px, calc((100% - var(--site-width)) / 2));
}

#nd-subnav {
  backdrop-filter: blur(16px);
  border-bottom: 1px solid var(--color-fd-border);
  margin-inline: calc(-1 * max(0px, (100vw - var(--site-width)) / 2));
}

#nd-subnav > div {
  border-bottom: 0;
  margin-inline: auto;
  max-width: var(--site-width);
  width: 100%;
}

@media (min-width: 48rem) {
  #nd-notebook-layout {
    --fd-sidebar-width: 288px;
  }
}

@media (min-width: 80rem) {
  #nd-notebook-layout {
    --fd-toc-width: 220px;
  }
}

#nd-nav nav {
  padding-inline: 1.5rem;
}

#nd-notebook-layout #nd-sidebar {
  background-color: transparent;
  border-color: transparent;
}

#nd-notebook-layout #nd-page > * {
  max-width: 700px;
}

#nd-page h1:not(:where(.prose *)) {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 40px;
}

#nd-page .prose {
  --tw-prose-body: var(--ds-gray-1000);
  font-size: 16px;
  line-height: 28px;
}

#nd-page .prose h2 {
  border-top: 1px solid var(--ds-gray-alpha-400);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 32px;
  margin-top: 40px;
  padding-top: 32px;
}

#nd-page .prose h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

#nd-page .prose :where(code):not(:where(pre *)) {
  background-color: var(--ds-gray-100);
  border: 1px solid var(--ds-gray-alpha-400);
  border-radius: var(--radius-md);
  color: var(--ds-gray-1000);
  font-size: 14px;
  font-weight: 400;
  padding: 2px 6px;
}

#nd-toc {
  --color-fd-muted-foreground: var(--ds-gray-900);
}

#nd-toc a {
  font-size: 14px;
}

#nd-toc a[data-active="true"] {
  color: var(--ds-gray-1000);
}

#nd-subnav > div > div:last-child {
  flex: 0 0 auto;
}

#nd-subnav > div {
  gap: 0.375rem;
  padding-inline: 1.5rem;
}

#nd-subnav > div > div:last-child {
  margin-inline-end: -0.5rem;
}

#nd-subnav > div > div:last-child a {
  color: var(--ds-gray-1000);
  padding: 0.375rem;
}

#nd-subnav > div > div:last-child a svg {
  height: 1.25rem;
  width: 1.25rem;
}

#nd-subnav [data-search-full] {
  margin-inline: auto 0;
  max-width: 240px;
}

#nd-subnav {
  z-index: 30;
}

#nd-toc a > svg line,
#nd-toc div.origin-center path {
  stroke-dasharray: 0 5;
  stroke-linecap: round;
  stroke-width: 2;
}

#nd-toc a > svg line {
  stroke: var(--ds-gray-alpha-400);
}

#nd-toc div.origin-center path {
  stroke: var(--ds-gray-1000);
  transition-property: d, stroke-dasharray, stroke-dashoffset;
}

#nd-toc div.origin-center > div {
  background-color: var(--ds-gray-1000);
  height: 0.375rem;
  width: 0.375rem;
}

#nd-toc a[data-active="true"] {
  color: var(--ds-gray-1000);
}

[role="dialog"] input:focus-visible {
  outline: none;
}

#nd-nav [aria-label="Toggle Menu"],
#nd-nav ul:empty {
  display: none;
}
